
.overlay-dish{
  background-color: #f9f6f6ca;
  top: 100%;
  transition: .5s;
}
  .dish:hover .overlay-dish{
    top:0;
  }
   body{
    background-color:#0D0D0D;
  }  
 .nav-side-header{
  width: 80px;
 }
 .pointer{
  cursor: pointer;
 }
 .side-bar{
  z-index: 99;
  left: 0;
 }
 .h-ingredients{
  height: 280px;
 }
 .h-house{
  height: 100px;
 }
 .fa-youtube{
  color:red;
  
 }
 .logo{
  width: 50px;
 }
 .m-40{
  margin-top: 40% !important;
 }
 .inner-loading-screen {
  position: absolute;
  z-index: 9;
  background-color: #0D0D0D;
  display: flex;
}
.loading-screen{
  z-index: 999;
  display: flex;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 30px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  top: -70PX;
  z-index: 1;
  transition:all .5s ;
  height: 0;
  overflow: hidden;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  
}
.ico:hover .dropdown-content {display: block;
  height: 220%;
}




